@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>Художественная галерея</h1>
    <p class="lead">"Беларт"</p>
    <p><a href="#" class="btn btn-primary btn-large">Узнать больше &raquo;</a></p>
</div>*@


<div class="grid">
    <figure class="effect-lily">
        <img src="~/Content/images/icons/1_opt.jpg" alt="img01" />
        <figcaption>
            <h2><span>Живопись</span></h2>
            <p>Живопись - это искусство!</p>
            <a href="~/Images/Jivopis">Открыть живопись</a>
        </figcaption>
    </figure>
    <!-- ... -->
    <figure class="effect-lily">
        <img src="~/Content/images/icons/2_opt.jpg" alt="img02" />
        <figcaption>
            <h2><span>Акварель</span></h2>
            <p>Акварель - тоже вещь!</p>
            <a href="~/Images/Akvarel">View more</a>
        </figcaption>
    </figure>
    <!-- ... -->
    <figure class="effect-lily">
        <img src="~/Content/images/icons/3_opt.jpg" alt="img03" />
        <figcaption>
            <h2><span>Пастель</span></h2>
            <p>Пастель - годнота!</p>
            <a href="~/Images/Pastel">View more</a>
        </figcaption>
    </figure>
    <!-- ... -->
    <figure class="effect-lily">
        <img src="~/Content/images/icons/4_opt.jpg" alt="img04" />
        <figcaption>
            <h2><span>Графика</span></h2>
            <p>Масло - ага,именно то самое о котором вы подумали!</p>
            <a href="~/Images/Grafica">View more</a>
        </figcaption>
    </figure>
    <!-- ... -->
    <figure class="effect-lily">
        <img src="~/Content/images/icons/9_opt.jpg" alt="img02" />
        <figcaption>
            <h2><span>Батик</span></h2>
            <p>Батик - угу, в том числе вещь!</p>
            <a href="~/Images/Batik">View more</a>
        </figcaption>
    </figure>
    <!-- ... -->
</div>