@model IEnumerable<GalleryMVC_With_Auth.Domain.Entities.Picture>
@{
    ViewBag.Title = "Гуашь";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_GalleryPartial")

@section Scripts {
    @Scripts.Render("~/bundles/galmagic")
}