@model IEnumerable<GalleryMVC_With_Auth.Domain.Entities.Picture>

<h2>@Model.FirstOrDefault().Album.Name</h2>

@Html.Partial("_GalleryPartial")

@section Scripts {
    @Scripts.Render("~/bundles/galmagic")
}