
<h2>Подтверждение электронной почты.</h2>
<div>
    <p>
        Спасибо вам за подтверждение электронной почты. Пожалуйста @Html.ActionLink("Кликните тут что бы авторизироваться", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
