<hgroup class="title">
    <h1>Подтверждение сброса пароля.</h1>
</hgroup>
<div>
    <p>
        Ваш пароль был сброшен. Пожалуйста @Html.ActionLink("кликните тут для авторизации", "Login", "Account", null, new {id = "loginLink"})
    </p>
</div>