
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    <div class="dropdown">
      <!-- Link or button to toggle dropdown -->
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><a tabindex="-1" href="#">Действие</a></li>
        <li><a tabindex="-1" href="#">Другое действие</a></li>
        <li><a tabindex="-1" href="#">Еще ссылка</a></li>
        <li class="divider"></li>
        <li><a tabindex="-1" href="#">Доп. ссылка</a></li>
      </ul>
    </div>