
@{
    ViewBag.Title = "Панель Администрирования";
}

<h2>@ViewBag.Title</h2>

<li>@Html.ActionLink("Логи", "Index", new { controller = "elmah" })</li>
<li>@Html.ActionLink("Статистика", "Index", new {controller = "glimpse.axd"})</li>
<li>@Html.ActionLink("Заливка фотографий", "Upload", new { controller = "AdminPanel" })</li>