
@{
    ViewBag.Title = "Акварель";
}

<h2>@ViewBag.Title</h2>

<div class="grid">
    
    @for (int i = 0; i < Directory.GetFiles(Server.MapPath("/Content/images/akvarel/kozlov")).Length; i++)
    {
        <figure class="effect-milo">
            <img src="~/Content/images/akvarel/kozlov/@string.Format("{0}.jpg",i)" alt="img0@i" />
            <figcaption>
                <h2><span>Акварель</span></h2>
                <p style="color: red">Автор - Козлов.</p>
                <p style="color: red">Цена - 999$!</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
    }

    @for (int i = 0; i < Directory.GetFiles(Server.MapPath("/Content/images/akvarel/petrovna")).Length; i++)
    {
        <figure class="effect-milo">
            <img src="~/Content/images/akvarel/petrovna/@string.Format("{0}.jpg",i)" alt="img0@i" />
            <figcaption>
                <h2><span>Акварель</span></h2>
                <p style="color: red">Автор - Петровна.</p>
                <p style="color: red">Цена - 999$!</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
    }

    @for (int i = 0; i < Directory.GetFiles(Server.MapPath("/Content/images/akvarel/tatarin")).Length; i++)
    {
        <figure class="effect-milo">
            <img src="~/Content/images/akvarel/tatarin/@string.Format("{0}.jpg",i)" alt="img0@i" />
            <figcaption>
                <h2><span>Акварель</span></h2>
                <p style="color: red">Автор - Татарин.</p>
                <p style="color: red">Цена - 999$!</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
    }

    @for (int i = 0; i < Directory.GetFiles(Server.MapPath("/Content/images/akvarel/ulubin")).Length; i++)
    {
        <figure class="effect-milo">
            <img src="~/Content/images/akvarel/ulubin/@string.Format("{0}.jpg",i)" alt="img0@i" />
            <figcaption>
                <h2><span>Акварель</span></h2>
                <p style="color: red">Автор - Улюбин.</p>
                <p style="color: red">Цена - 999$!</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
    }
</div>