@using System.Globalization
@using Jmelosegui.Mvc.GoogleMap
@model string
<h2>Контакты.</h2>

<address>
    Беларусь<br />
    Брест, набярэжная Францыска Скарыны 2<br />
    <abbr title="Phone">Тел:</abbr>
    8 0162 20-45-95
    @(Html.GoogleMap().Name("Brest")
          .Width(600)
          .Height(500)
          .Center(c => c.Address("Беларусь, Брест, набярэжная Францыска Скарыны 2"))
          .Markers(m => m.Add()).Zoom(15)
          .Culture(CultureInfo.GetCultureInfoByIetfLanguageTag(Model ?? "ru")))

</address>
@using (Html.BeginForm("Contact", "Home", FormMethod.Get))
{
    @Html.DropDownList("lang", new SelectList(new[] {"ru", "en"}), "Выбрерите язык карты")
    <button type="submit" class="btn btn-default">Применить</button>
}
@section scripts
{
    @(Html.GoogleMap().ScriptRegistrar())
}