@model dynamic

@{
    ViewBag.Title = "Test";
}

    <div class="grid" id="albums"></div>
    <script src="@Url.Content("~/Scripts/views/main.jsx")"></script>
<script src="@Url.Content("~/Scripts/views/Found.jsx")"></script>

<div class="grid" id="pictures" style="background-color: wheat "></div>


<a href="#content" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-arrow-up"></span> Up
</a>



@section Scripts {
    @Scripts.Render("~/bundles/galmagic")
}