@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>
    <hgroup>
        <h1>У-у-у-пс.</h1>
        <h2>Произошла ошибка во время выполнения операции.</h2>
    </hgroup>
</body>
</html>
