@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body style="background: rgb(86, 188, 237)">
    <div style="text-align: center">
        <hgroup style="color: whitesmoke">
            <h1 style="font-size: 300%">У-у-у-пс. <span style="font-size: 600%">:'(</span></h1>
            <h2>Произошла ошибка во время выполнения операции.</h2>
        </hgroup>
    </div>
</body>
</html>
