@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}

<h2>Виды ролей</h2>

@Html.ActionLink("Создать роль", "Create", "Roles")

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                Роль
            </th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                </tr>
            }
        </tbody>
</table>
</div>